#
# .gitignore
# =============================================================================
# Urban bus routing microservice prototype (LFE/OTP port). Version 0.1.5
# =============================================================================
# An LFE (Lisp Flavoured Erlang) application, designed and intended to be run
# as a microservice, implementing a simple urban bus routing prototype.
#
# This is the configuration of the project Git ignorables,
# i.e. objects that should not be put into the repository.
#

# === Rebar3 intermediates ====================================================
_build/

# === Crash/core dumps ========================================================
*.crashdump

# vim:set nu et ts=4 sw=4:
