%
% rebar.config
% =============================================================================
% Urban bus routing microservice prototype (LFE/OTP port). Version 0.0.12
% =============================================================================
% An LFE (Lisp Flavoured Erlang) application, designed and intended to be run
% as a microservice, implementing a simple urban bus routing prototype.
% =============================================================================
% Copyright (C) 2023 Radislav (Radicchio) Golubtsov
%
% (See the LICENSE file at the top of the source tree.)
%

{relx, [
    {release, {
        bus, "0.0.12"
    }, [
        bus
    ]},

    {include_src, false}
]}.

{profiles, [
    {prod, []}
]}.

{deps, [
    {syslog, "1.1.0" },
    {cowboy, "2.10.0"}
]}.

{plugins, [
    {rebar3_lfe, "0.4.4"}
]}.

% vim:set nu et ts=4 sw=4:
