%
% config/sys.config
% =============================================================================
% Urban bus routing microservice prototype (LFE/OTP port). Version 0.0.10
% =============================================================================
% An LFE (Lisp Flavoured Erlang) application, designed and intended to be run
% as a microservice, implementing a simple urban bus routing prototype.
% =============================================================================
% Copyright (C) 2023 Radislav (Radicchio) Golubtsov
%
% (See the LICENSE file at the top of the source tree.)
%

[
    {kernel, [
        {logger, [
            {handler, default,  logger_std_h, #{
                formatter => {
                    logger_formatter, #{
                        template => ["[", time, "][", level, "]  ", msg, "\n"],
                        time_designator => $|
                    }
                }
            }},
            {handler, default_, logger_std_h, #{
                config => #{
                    file               => "./log/bus.log",
                    max_no_bytes       => 204800,
                    max_no_files       => 10,
                    compress_on_rotate => true
                },
                formatter => {
                    logger_formatter, #{
                        template => ["[", time, "][", level, "]  ", msg, "\n"],
%                                          ^            ^            ^     ^
%                                          |            |            |     |
% --- Date and time -----------------------+            |            |     |
% --- Severity (info, debug, etc.) ---------------------+            |     |
% --- The logging message itself ------------------------------------+     |
% --- Newline character ---------------------------------------------------+
                        time_designator => $|
                    }
                }
            }}
        ]},
        {logger_level, debug}
    ]},
    {bus, []}
].

% vim:set nu et ts=4 sw=4:
